$beige : #F9EBD1;
$light-blue : #00AFF1;
$dark-blue : #00324B;
$red : #F7391A;

@font-face {
  font-family: 'Brandon Text';
  src: url('/assets/fonts/brandon_text_light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/brandon_text_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/brandon_text_light.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/brandon_text_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/brandon_text_light.svg#b2e83f21a04278900d92d2a5931f7dc3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('/assets/fonts/brandon_text_regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/brandon_text_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/brandon_text_regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/brandon_text_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/brandon_text_regular.svg#4582969d6388a5dded4cbb4ff7487e0a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('/assets/fonts/brandon_text_bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/brandon_text_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/brandon_text_bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/brandon_text_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/brandon_text_bold.svg#52b8f7bdef7f32b456bdff259aa0aafa') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  bold;
}

body {
  color: $dark-blue;
  text-align: center;
  font-family: "Brandon Text";
  margin: 0;
}

.intro {
  padding: 0 10px;
  background-color: $light-blue;
  padding-bottom: 30px;
  #coderdojo-logo {
    margin: 30px 0;
    width: 100%;
    max-width: 250px;
  }
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  font-weight: 200;
  font-size: 40px;
  margin: 0 10%;
  text-align: center;
}

h2 {
  color: $light-blue;
  text-transform: uppercase;
}

h3 {
    font-size: 30px;
  font-weight: 200;
  a {
    border-bottom: 2px dotted white;
    &:hover {
      border-bottom-style: solid;
    }
  }
}

h4 {
  text-transform: uppercase;
  font-size: 24px;
  a {
    display: inline-block;
    border: 2px solid $light-blue;
    padding: 10px 15px;
    margin: 10px;
    color: $light-blue;

    &:hover {
      background-color: $light-blue;
      color: $dark-blue;
    }
  }
}

.mentors {
  h4 {
    margin: 0;
    color: $red;
    a {
      color: white;
      background-color: $red;
      border: none;
      &:hover {
        color: white;
      }
    }
  }
  background-color: white;
  overflow: auto;
  padding: 10px;
  border-top: 1px solid $dark-blue;
}

.next-event {
  padding: 10px;
  background-color: $dark-blue;
  h3 {
    color: white;
  }
  h4 {
    color: $light-blue;
  }
}

.previous-events {
  padding: 10px;
  h4 a {
    font-size: 16px;
  }
}

.twitter {
  background-color: $light-blue;
  padding: 10px;
  h3 {
    font-weight: normal;
  }
  a {
    color: $dark-blue;
    border-bottom: 1px solid $dark-blue;
  }
}