/*
no sass!

color reference

beige : #F9EBD1
light blue : #00AFF1
dark blue : #00324B
red : #F7391A
*/

@font-face {
  font-family: 'Brandon Text';
  src: url('/assets/fonts/brandon_text_light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/brandon_text_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/brandon_text_light.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/brandon_text_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/brandon_text_light.svg#b2e83f21a04278900d92d2a5931f7dc3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

body {
  background-color: #00AFF1;
  color: #00324B;
  text-align: center;
  font-family: "Brandon Text";
}

#coderdojo-logo {
  margin: 50px 0;
  width: 30%;
  height: auto;
}

h1 {
  font-weight: 200;
  margin-bottom: 30px;
}

a {
  color: #00324B;
  text-decoration: none;
}

h1 a {
  border-bottom: 2px dotted #00324B;
}

h1 a:hover {
  border-bottom-style: solid;
}

h2 {
  font-weight: 200;
  text-transform: uppercase;
}

h2 a {
  display: inline-block;
  border: 2px solid #00324B;
  padding: 10px 15px;
  margin: 10px;
}

h2 a:hover {
  background-color: #00324B;
  color: white;

}